body {
    margin: 2em auto;
    padding: .2em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #EEEEEE;
    font-size: 2vh;
}

pre {
    background: #CCCCCC;
    color: black;
    padding: 10px;
    font-family: Consolas, monospace;
    white-space: pre-wrap;
}
